	<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>731319685710-4bre064iuin559fnkog79u6vtt343m07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731319685710-4bre064iuin559fnkog79u6vtt343m07</string>
	<key>API_KEY</key>
	<string>AIzaSyCAJakSY-1NAnV0UaWfMOwxklWqRkbmtWo</string>
	<key>GCM_SENDER_ID</key>
	<string>731319685710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leage</string>
	<key>PROJECT_ID</key>
	<string>snooker-star</string>
	<key>STORAGE_BUCKET</key>
	<string>snooker-star.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731319685710:ios:bc3cf09a16431cd8</string>
	<key>DATABASE_URL</key>
	<string>https://snooker-star.firebaseio.com</string>
</dict>
</plist>